= simple_form_for @profile, html: { multipart: true } do |f|
	- if @profile.errors.any?
		#errors
			%p
				= @profile.errors.count
				Prevented this profile from saving
			%ul
				- @profile.errors.full_message.each do |msg|
					%li= msg

	.form-style-6
		%form
			%fieldset
				%legend
					%span.number 1
					User Info
				= f.association :gender, label_method: :gender, label: false, value_method: :id, include_blank: false
				= f.input :private, label: "Make Profile Private", hint: 'Do you want to hide your profile?'
				= f.input :trainer, label: "Are you a trainer", hint: 'Do you want to train clients?'
				%br/
			%fieldset
				%legend
					%span.number 2
					Add Profile Pic
				= image_tag @profile.avatar.url(:medium)
				= f.input :avatar, input_html: { class: 'form-control'}
			%br/
			%h2 COMPLETE YOUR PROFILE 

			%fieldset#profile-locations
				%ol
					%legend
						%span.number 3
						Where do you normally workout?
					= f.simple_fields_for :profile_locations do |profilelocation|
						= render 'profile_location_fields', f: profilelocation
				= link_to_add_association 'Add Additional 	Locations', f, :profile_locations, class: "btn btn-default add-button", 'data-association-insertion-node' => "#profile-locations ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|profile_location| profile_location.build_location; profile_location }				

			%fieldset#profile-workouts
				%ol
					%legend
						%span.number 4
						What kinds of workouts do you do?
					= f.simple_fields_for :profile_workouts do |profileworkout|
						= render 'profile_workout_fields', f: profileworkout
				= link_to_add_association 'Add Additional Workout Types', f, :profile_workouts, class: "btn btn-default add-button", 'data-association-insertion-node' => "#profile-workouts ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|profile_workout| profile_workout.build_workout; profile_workout }

			%fieldset#profile-certifications
				%ol
					%legend
						%span.number 5
						Do you have any certifications?
					= f.simple_fields_for :profile_certifications do |profilecertification|
						= render 'profile_certification_fields', f: profilecertification
				= link_to_add_association 'Add Additional Certifications', f, :profile_certifications, class: "btn btn-default add-button", 'data-association-insertion-node' => "#profile-certifications ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|profile_certification| profile_certification.build_certification; profile_certification }

		%input{:type => "submit", :value => "Complete Profile"}/

	:javascript
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-77303912-1', 'auto');
		ga('send', 'pageview');