
= simple_form_for @profile, html: { multipart: true } do |f|
	- if @profile.errors.any?
		#errors
			%p
				= @profile.errors.count
				Prevented this profile from saving
			%ul
				- @profile.errors.full_message.each do |msg|
					%li= msg

	.form-style-6
		%form
			%fieldset
				%legend
					%span.number 1
					User Info
				= f.input :username, input_html: { class: 'form-control'}
				= f.input :bio, input_html: { class: 'form-control'}
				= f.input :dob, as: :date, :label => "Birthday"
				= f.association :gender, label_method: :gender, label: false, value_method: :id, include_blank: false
				= f.input :trainer
			%fieldset
				%legend
					%span.number 2
					Add Profile Pic
				= image_tag @profile.avatar.url(:medium)
				= f.input :avatar, input_html: { class: 'form-control'}

			%fieldset#profile-locations
				%ol
					%legend
						%span.number 3
						Add Workout Locations
					= f.simple_fields_for :profile_locations do |profilelocation|
						= render 'profile_location_fields', f: profilelocation
				= link_to_add_association 'Add Additional 	Locations', f, :profile_locations, class: "btn btn-default add-button", 'data-association-insertion-node' => "#profile-locations ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|profile_location| profile_location.build_location; profile_location }				

			%fieldset#profile-workouts
				%ol
					%legend
						%span.number 4
						Add Your Workouts
					= f.simple_fields_for :profile_workouts do |profileworkout|
						= render 'profile_workout_fields', f: profileworkout
				= link_to_add_association 'Add Additional Workout Types', f, :profile_workouts, class: "btn btn-default add-button", 'data-association-insertion-node' => "#profile-workouts ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|profile_workout| profile_workout.build_workout; profile_workout }

			%fieldset#profile-certifications
				%ol
					%legend
						%span.number 5
						Add Your Certifications
					= f.simple_fields_for :profile_certifications do |profilecertification|
						= render 'profile_certification_fields', f: profilecertification
				= link_to_add_association 'Add Additional Certifications', f, :profile_certifications, class: "btn btn-default add-button", 'data-association-insertion-node' => "#profile-certifications ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|profile_certification| profile_certification.build_certification; profile_certification }



			%input{:type => "submit", :value => "Complete Profile"}/

