.wrapper_with_padding
  %p#notice= notice
  %h1 User Profiles
  %table.table.table-hover
    %thead
      %tr
        %th Pic
        %th User
        %th Bio
        %th Zip
        %th Gender
        %th{:colspan => "7"}
    %tbody
      - @profiles.each do |profile|
        %tr
          %td= link_to (image_tag profile.avatar.url(:thumb), class: 'image'), profile
          %td= profile.user.email
          %td= profile.bio
          %td= profile.zip
          %td= profile.gender.gender
          %td= link_to 'Edit', edit_profile_path(profile)
          %td= link_to 'Delete Profile', profile, method: :delete, data: { confirm: 'Are you sure you want to delete this profile?' }
  %br/
  = link_to 'New Profile', new_profile_path

