%script{:src => "//maps.google.com/maps/api/js?v=3.23&key=AIzaSyCHo7P-uEfAEioZyTEw51cjJxfGlQf5tiM"}
%script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}
/ only if you need custom infoboxes

.wrapper
	- page_header "Find a gym buddy in your area and get started"
	.panel.panel-default
		.panel-body
			.row
				.col-md-8
					#profiles.transitions-enabled
						- @profiles.each_with_index do |profile, i|
							%a{ href: (url_for [profile])}
								.box.panel.panel-default
									.panel-heading
										%h2= profile.user.username
									.panel-body
										%img.img-rounded.center-block{alt: "Profile Picture", src: profile.avatar.url(:thumb)}/
									.panel-footer
										.stars
											%p{class: "star-rating", dscore: @avg_reviews[i]}
											%em= "#{@reviews.length} reviews"
											

				.col-md-4
					%img{:style => "width: 100%;"}
						#map{:style => "width: 100%; height: 400px;"}	
					%p 
					= form_tag profiles_path, :method => :get do
						%p= text_field_tag :search, params[:search], placeholder: 'Update your search here...'
						%p= submit_tag "Refresh Search", :search => nil
					%br/
			.row
				%br/
				.col-md-6
					= link_to "Create New Appointment", new_appointment_path, class: "button"
				.col-md-6
					= link_to "Check Out Pro Appointments", appointments_path, class: "button"


:javascript
		$('.star-rating').raty({
				path: '/assets/',
				readOnly: true,
				score: function() {
						return $(this).attr('dscore');
				}
		}); 

:javascript
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
		markers = handler.addMarkers(#{raw @hash.to_json});
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
	});

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-77303912-1', 'auto');
	ga('send', 'pageview');
