%script{:src => "//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="}
%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"}
%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js", :type => "text"}

.wrapper_with_padding
	%h2 Check out users in your areas looking to partner up	
	.panel.panel-default
		.panel-body
			.row
				.col-md-9
					#appointments.transitions-enabled
						- @profiles.each_with_index do |profile, i|
							%a{ href: (url_for [profile])}
								.box.panel.panel-default
									.panel-heading
										%h2= profile.username
									.panel-body
										.table-responsive
											%tr
											.col-md-6.nopadding
												%img.img-rounded.center-block{alt: "Profile Picture", src: profile.avatar.url(:thumb)}/
											.col-sm-6
												.box_text
													%strong Gender:
													= profile.gender.gender
													%br
													%strong DOB:
													= profile.dob	
													%br/
													%strong Avg Rating:
													.stars
														%p{class: "star-rating", dscore: @avg_reviews}
														%em= "#{@reviews.length} reviews"


				.col-md-3
					%img{:style => "width: 100%;"}
						#map{:style => "width: 100%; height: 200px;"}	
					%p 
					= form_tag profiles_path, :method => :get do
						%p= text_field_tag :search, params[:search], placeholder: 'Update your search here...'
						%p= submit_tag "Refresh Search", :search => nil
			.row
				.col-md-6
					= link_to "Create New Appointment", new_appointment_path, class: "button"
				.col-md-6
					= link_to "Check Out Pro Appointments", appointments_path, class: "button"


:javascript
		$('.star-rating').raty({
				path: '/assets/',
				readOnly: true,
				score: function() {
						return $(this).attr('dscore');
				}
		}); 

:javascript
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
		markers = handler.addMarkers(#{raw @hash.to_json});
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
	});

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-77303912-1', 'auto');
	ga('send', 'pageview');
