.wrapper_with_padding
	%h2 Take a look at trainers in your area now	
	%table.table.table-responsive.table-hover
		%thead
			%tr
				%th 
				%th Username
				%th Gender
				%th DOB
				%th View
				%th Average Rating
				%th{:colspan => "5"}
		%tbody
			- @profiles.each_with_index do |profile, i|
				%tr
					%td= image_tag profile.avatar.url(:thumb)
					%td= profile.username		
					%td= profile.gender.gender		
					%td= profile.dob		
					%td= link_to 'View', profile_path(profile.id)
					%td{class: "star-rating", dscore: @avg_reviews[i] }

:javascript
		$('.star-rating').raty({
				path: '/assets/',
				readOnly: true,
				score: function() {
						return $(this).attr('dscore');
				}
		}); 

