.wrapper_with_padding
	%p#notice= notice
	.panel.panel-default
		.panel-body
			.row
				.col-md-4
					= image_tag @profile.avatar.url(:medium)
					%br/
					- if @profile.user_id == current_user.id
						= link_to "Edit My Record", edit_profile_path(@profile), class: "button"

					- else
						=link_to "Review Me", new_profile_review_path(@profile), class: "button"

				.col-md-8  
					#profile_info
						.table-responsive
							%table.table
								%tbody
									%tr
										%td
											%strong Avg Rating:
										%td{class: "star-rating", dscore: @avg_review}
											%em= "#{@reviews.length} reviews"
									%tr
										%td
											%strong Username:
										%td= @profile.username
									%tr
										%td
											%strong Bio:
										%td= @profile.bio
									%tr
										%td
											%strong Gender:
										%td= @profile.gender.gender 

							


		 
		/ Nav tabs
		%ul.nav.nav-tabs{:role => "tablist"}
			%li.active{:role => "presentation"}
				%a{"aria-controls" => "appointments", "data-toggle" => "tab", :href => "#appointments", :role => "tab"} Appointments
			%li{:role => "presentation"}
				%a{"aria-controls" => "reviews", "data-toggle" => "tab", :href => "#reviews", :role => "tab"} Reviews
			%li{:role => "presentation"}
				%a{"aria-controls" => "locations", "data-toggle" => "tab", :href => "#locations", :role => "tab"} Locations
			%li{:role => "presentation"}
				%a{"aria-controls" => "workouts", "data-toggle" => "tab", :href => "#workouts", :role => "tab"} Workouts
			%li{:role => "presentation"}
				%a{"aria-controls" => "certifications", "data-toggle" => "tab", :href => "#certifications", :role => "tab"} Certifications				
		/ Tab panes
		.tab-content
			#appointments.tab-pane.active{:role => "tabpanel"} 
				%table.table.table-hover
					%thead
						%tr
							%th Title
							%th Date
							%th Active
							%th View
							%th{:colspan => "4"}
					%tbody
						- @appointments.each do |appointment|
							%tr
								%td= appointment.title
								%td= appointment.date
								%td= appointment.active
								%td= link_to 'View', appointment_path(appointment)
				=link_to "New Appt", new_appointment_path

			#locations.tab-pane{:role => "tabpanel"}
				%table.table.table-hover
					%thead
						%tr
							%th Address
							%th City
							%th State
							%th Zip
							%th Loc Type
							%th{:colspan => "2"}
					%tbody
						- @profile.profile_locations.each do |profile_locations|
							%tr
								%td= profile_locations.location.address_1
								%td= profile_locations.location.city
								%td= profile_locations.location.state
								%td= profile_locations.location.zip
								%td= profile_locations.location_type.type_name
			#reviews.tab-pane{:role => "tabpanel"} 
				%table.table.table-hover
					%thead
						%tr
							%th Rating
							%th Comment
							%th{:colspan => "2"}
					%tbody
						- @profile.reviews.each do |review|
							%tr
								%td{class: "star-rating", dscore: review.rating}
								%td= review.comment
				=link_to "Review Me", new_profile_review_path(@profile)
			#workouts.tab-pane{:role => "tabpanel"} 	
				%table.table.table-hover
					%thead
						%tr
							%th Rating
							%th Workout
							%th{:colspan => "2"}
					%tbody
						- @profile.profile_workouts.each do |profile_workouts|
							%tr
								%td= profile_workouts.rating
								%td= profile_workouts.workout.workout_name
			#certifications.tab-pane{:role => "tabpanel"} 	
				%table.table.table-hover
					%thead
						%tr
							%th Cert Year
							%th Cert Type
							%th{:colspan => "2"}
					%tbody
						- @profile.profile_certifications.each do |profile_certifications|
							%tr
								%td= profile_certifications.cert_year
								%td= profile_certifications.certification.cert_name


:javascript
		$('.star-rating').raty({
				path: '/assets/',
				readOnly: true,
				score: function() {
						return $(this).attr('dscore');
				}
		}); 

