#banner
	.banner_content
		= link_to image_tag('fitchlogo_center.png'), profiles_path, id: "logo"
		%br/
		%br/
		%tag ABOUT US
		%br/
		%br/
		%br/
		= link_to "Get Started Now", new_user_registration_path, class: "button"
		%br/
		%br/
		%a=link_to "already a member?", new_user_session_path
		%br/


%footer
	.col-md-4
		= link_to "Twitter", "http://www.twitter.com/fitchike", :target => "_blank" 
		|
		= link_to "Facebook", "http://www.facebook.com/fitchike", :target => "_blank" 
		|
		= link_to "Instagram", "http://www.instagram.com/fitchike", :target => "_blank" 

	.col-md-8  
		%p &copy; LeftySeth Designs 2016

