<p id="notice"><%= notice %></p>

<h1>Listing Confirmations</h1>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Appointment ID</th>
      <th>Confirmation Email</th>
      <th>confirmation_temp</th>
      <th>Card Token</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @confirmations.each do |confirmation| %>
      <tr>
        <td><%= confirmation.user_id %></td>
        <td><%= confirmation.appointment_id %></td>
        <td><%= confirmation.email %></td>
        <td><%= confirmation.confirmation_temp %></td>
        <td><%= confirmation.card_token %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

