%p#notice= notice
%p
  %strong User Email:
  = @confirmation.user.email
%p
  %strong Username:
  = @confirmation.user.profile.username
%p
  %strong Title:
  = @confirmation.appointment.title
%p
  %strong Price:
  = @confirmation.appointment.price
%p
  %strong Confirmation temp:
  = @confirmation.confirmation_temp
%p
  %strong Confirmation token:
  = @confirmation.card_token
%p
  %strong Email:
  = @confirmation.email  

  