= simple_form_for @appointment do |f|
	.form-style-5
		%form
			%fieldset
				%legend
					%span.number 
					Appointment Info
				=f.input :title, input_html: { maxlength: 30 }, :placeholder => "Appointment Title", label: false, type: "text"
				=f.input :comments, :placeholder => "Appointment Description", label: false, type: "text"
				=f.association :length, label_method: :appointment_length, value_method: :id, include_blank: false, :input_html => {:class => "input-small"}, label: false
				= f.input :price, placeholder: "List Price", label: false
				= f.association :location, :as => :collection_select, collection: Location.includes(:profile_locations).where(profile_locations: { profile_id: current_user }), label_method: :address_1, value_method: :id, include_blank: false, :input_html => {:class => "input-small"}, placeholder: "Select The Location", label: false
				=f.association :profile, :as => :collection_select, collection: Profile.where( user_id: current_user ), label_method: :username, value_method: :id, include_blank: false, :input_html => {:class => "input-small"}, label: false
			%fieldset
				%legend
					%span.number
					Available Until
				= f.input :end_date, as: :date, label: false
				= f.input :active
			%input{:type => "submit", :value => "Finalize Appointment"}/




