.wrapper_with_padding
	#appointments.transitions-enabled
		- if current_user.profile.blank?
			= link_to "Create Your Profile Now", new_profile_path, class: "btn btn-primary"
		- unless @appointments.blank?
			- @appointments.each do |appointment|
				%a{ href: (url_for [appointment])}
					.box.panel.panel-default
						.panel-heading
							%h2= appointment.title
						.panel-body
							= image_tag appointment.profile.avatar.url(:medium)
						.panel-footer	
							%user= appointment.profile.username
							|
							%price= number_to_currency(appointment.price, unit:"$")
		- else 
			%h2 Request an appointment now
			%p Sorry, but all our appointments are totally booked up right now.

:javascript
		$('.star-rating').raty({
				path: '/assets/',
				readOnly: true,
				score: function() {
						return $(this).attr('dscore');
				}
		}); 