.wrapper_with_padding
	.table-responsive
		.row
			.col-md-4
				= link_to (image_tag @appointment.profile.avatar.url(:medium)), @appointment.profile
				.table-responsive
					%table.table
						%tbody
							%tr		
								%td
									%strong USERNAME:
								%td= @appointment.profile.username 	
							%tr
								%td
									%strong PRICE:
								%td= number_to_currency(@appointment.price, unit:"$")
							%tr
								%td
									%strong LENGTH:
								%td= @appointment.length
							%tr
								%td
									%strong DATE:
								%td= @appointment.date

			.col-md-8
				#appointment_show
					%h1= @appointment.title
					%p= simple_format(@appointment.comments)
					.row
						%form{:action => "", :method => "POST"}
							%script.stripe-button{"data-amount" => (@appointment.price*100), "data-description" => @appointment.title , "data-image" => "#{asset_path('fitchlogo.png')}", "data-key" => "pk_test_vG3uKuRBa3SChlHNZBIXzGam", "data-locale" => "auto", "data-name" => "Fitchike", :src => "https://checkout.stripe.com/checkout.js"}
						%br/
						= link_to "View Profile", profile_path(@appointment.profile_id), class: "btn btn-default"
						- if @appointment.user_id == current_user.id
							= link_to "Edit Appointment", edit_appointment_path(@appointment), class: "btn btn-default"
							= link_to "Delete", appointment_path(@appointment), method: :delete, data: { confirm: "are you sure" }, class: "btn btn-default"

						- else
							= link_to "Book Appointment", new_appointment_confirmation_path(@appointment), class: "btn btn-primary"

		%table.table.table-hover

			%tbody	
				- unless @confirmations.blank?
					%thead
						%tr
							%th User Email
							%th Confirmation Number
							%th Date Booked
							%th{:colspan => "4"}
					- @confirmations.each do |confirmation|
						%tr
							%td= confirmation.user.email
							%td= confirmation.confirmation_temp
							%td= confirmation.created_at
				- else 
					%h2 Be the first to book
					%p No others are booked into this session yet.
