.wrapper_with_padding
	.table-responsive
		.row
			.col-md-4
				= link_to (image_tag @appointment.profile.avatar.url(:medium)), @appointment.profile
				.table-responsive
					%table.table
						%tbody
							%tr		
								%td
									%strong USERNAME:
								%td= @appointment.profile.username 	
							%tr
								%td
									%strong PRICE:
								%td= number_to_currency(@appointment.price, unit:"$")
							%tr
								%td
									%strong LENGTH:
								%td= @appointment.length.appointment_length
							%tr
								%td
									%strong OPEN UNTIL:
								%td= @appointment.end_date

			.col-md-8
				#appointment_show
					.table-responsive
						%table.table
							%tbody
								%tr	
									%h1= @appointment.title
									%p= simple_format(@appointment.comments)
								%tr
									%td
										= link_to "View Profile", profile_path(@appointment.profile_id), class: "button"
										- if @appointment.profile.id == current_user.id
											= link_to "Edit Appointment", edit_appointment_path(@appointment), class: "button"
											= link_to "Delete Appointment", appointment_path(@appointment), method: :delete, data: { confirm: "are you sure" }, class: "button-danger"

										- else
											= link_to "Book Appointment", new_appointment_confirmation_path(@appointment), class: "button"

		%table.table
			%tbody	
				- unless @confirmations.blank?
					%thead
						%tr
							%th User Email
							%th Confirmation Number
							%th Date Booked
							%th{:colspan => "4"}
					- @confirmations.each do |confirmation|
						%tr
							%td= confirmation.user.email
							%td= confirmation.confirmation_temp
							%td= confirmation.created_at
				- else 
					%h2 Be the first to book
					%p No others are booked into this session yet.

