#appointment_show
	.wrapper_with_padding
		.container-fluid
			%h2= @appointment.title
			.row
				.col-md-4 
					%img.img-rounded.center-block{alt: "Profile Picture", src: @appointment.profile.avatar.url(:medium)}/
				.col-md-4 
					= simple_format(@appointment.comments)
				.col-md-4	 
					%table.table
						%tbody
							%tr		
								%td
									%strong TRAINER:
								%td= @appointment.profile.username 	
							%tr
								%td
									%strong PRICE:
								%td= number_to_currency(@appointment.price, unit:"$")
							%tr
								%td
									%strong LENGTH:
								%td= @appointment.length.appointment_length
							%tr
								%td
									%strong OPEN UNTIL:
									%td= @appointment.end_date

					- if @appointment.profile.id == current_user.id
						.row
							= link_to "Edit Appointment", edit_appointment_path(@appointment), class: "button"
							= link_to "Delete Appointment", appointment_path(@appointment), method: :delete, data: { confirm: "are you sure" }, class: "button"
					- else
						.row
							= link_to "Book Appointment", new_appointment_confirmation_path(@appointment), class: "button"
							= link_to "View Profile", profile_path(@appointment.profile_id), class: "button"

			.row	
				.col-md-12 
				%br/
				%br/
				%table.table.table-hover
					%tbody	
						- unless @confirmations.blank?
							%thead
								%tr
									%th User Email
									%th Confirmation Number
									%th Date Booked
									%th{:colspan => "4"}
							- @confirmations.each do |confirmation|
								%tr
									%td= confirmation.user.email
									%td= confirmation.card_token
									%td= confirmation.created_at
						- else 
							%h2 Be the first to book
							%p No others are booked into this session yet.

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-77303912-1', 'auto');
	ga('send', 'pageview');

