= simple_form_for(@location) do |f|
  = f.error_notification
  .form-inputs
    = f.input :address_1
    = f.input :address_2
    = f.input :city
    = f.input :state
    = f.input :zip
  .form-actions
    = f.button :submit
