%p#notice= notice
%p
  %strong Address 1:
  = @location.address_1
%p
  %strong Address 2:
  = @location.address_2
%p
  %strong City:
  = @location.city
%p
  %strong State:
  = @location.state
%p
  %strong Zip:
  = @location.zip
%p
  %strong Lat:
  = @location.latitude
%p
  %strong Lon:
  = @location.longitude
= link_to 'Edit', edit_location_path(@location)
|
\#{link_to 'Back', locations_path}

%ul
  - for location in @location.nearbys
    %li
      = link_to location.address, location
      (#{location.distance.round(2)}miles)


= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=14&markers=#{@location.latitude}%2C#{@location.longitude}"
