%script{:src => "//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="}
%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"}
%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js", :type => "text"}


%p#notice= notice
%p
  %strong Address 1:
  = @location.address_1
%p
  %strong Address 2:
  = @location.address_2
%p
  %strong City:
  = @location.city
%p
  %strong State:
  = @location.state
%p
  %strong Zip:
  = @location.zip
%p
  %strong Lat:
  = @location.latitude
%p
  %strong Lon:
  = @location.longitude
= link_to 'Edit', edit_location_path(@location)
|
\#{link_to 'Back', locations_path}

%ul
  - for location in @location.nearbys
    %li
      = link_to location.address, location
      (#{location.distance.round(2)}miles)

%div{:style => "width: 800px;"}
  #map{:style => "width: 800px; height: 400px;"}

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
