!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Fitchike Fitness
			= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
			= javascript_include_tag 'application', 'data-turbolinks-track' => true
			%link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/
			%meta{:content => "initial-scale = 1.0,maximum-scale = 1.0", :name => "viewport"}/
			= csrf_meta_tags

  %body
    %nav.navbar.navbar-inverse
      .container
        .navbar-header
				%button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
					%span.sr-only Toggle navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.navbar-brand
					= link_to image_tag('fitchlogo.png'), root_path
        %ul.nav.navbar-nav
          - if user_signed_in?
            %li= link_to 'Edit Profile', edit_user_registration_path
            %li= link_to 'Your Conversations', conversations_path
            %li= link_to 'Users', users_path
            %li= link_to 'Log Out', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Log In', new_user_session_path
    .container
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}
          = value
      .page-header
        %h1= yield :page_header
      = yield
    %footer
      .container
        %p.text-muted
          Created by
          %a{:href => "http://radiant-wind.com", :target => "_blank"} Radiant Wind
%html
  %p
    Test
