!!! 5

%html
%head
	%title Fitchike
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	%link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/
	= csrf_meta_tags

%body
	%header
		.header_inner
			= link_to image_tag('fitchlogo.png'), root_path, id: "logo"
			%ul.nav.navbar-nav.navbar-right
				%li.active		
					=link_to "HOME", root_path	
					%span.sr-only (current)
				%li
					=link_to "ABOUT", welcome_about_path	

				%li
					=link_to "HOW WE WORK", welcome_how_path	
				
				- if user_signed_in? && Profile.exists?(user_id: current_user)
					%li
						= link_to "SIGN OUT", destroy_user_session_path, method: :delete 

				- elsif user_signed_in?  && !Profile.exists?(user_id: current_user)
					%li					
						= link_to "Create Your Profile Now", new_profile_path					

				- else
					%li
						=link_to "SIGN IN", new_user_session_path		
	

				- if user_signed_in? && Profile.exists?(user_id: current_user)
					%li.dropdown	
						%a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
							PROFILE MENU	
							%span.caret
						%ul.dropdown-menu
							%li
								= link_to "View My Profile", profile_path(current_user.profile.id)
							%li
								%a{:href => "#"} Create Appointment
							%li.divider{:role => "separator"}
							%li
								= link_to "Change Password", edit_user_registration_path			


	%p.notice= notice
	%p.alert= alert

	= yield
